<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>上升面向对象，红绿灯</title>
  </head>
  <body>
    <script>
      // 定义红绿灯类
      function TrafficLight() {
        // 颜色属性，一开始都是红色
        // 红色1，黄色2，绿色3
        this.color = 1;
        // 调用自己的初始化方法
        this.init();
      }
      TrafficLight.prototype.init = function() {
        // 创建自己的DOM
        this.dom = document.createElement('img');
        
      };
      var box=document.getElementById('box')
      var tl = new TrafficLight();
      console.log(tl);
    </script>
  </body>
</html>
