<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        height: 5000px;
      }
    </style>
  </head>
  <body>
    <!-- 
    <script>
       console.log('窗口内宽（包含滚动条）',window.innerWidth);
       console.log('窗口内宽（不包含滚动条）',document.documentElement.clientWidth);
       console.log('窗口外宽',window.outerWidth);
    </script> -->
    <h1><a href="wi1.html">history方法</a></h1>
    <script>
      //监听窗口改变尺寸事件
      // window.onresize=function(){
      //     var root=document.documentElement;
      //     console.log('窗口改变尺寸了', root.clientWidth,root.clientHeight);
      // }

    //   window.onscroll = function() {
    //     console.log("窗口卷动了", window.scrollY);
    //   };


    // console.log('浏览器品牌',navigator.appName);
    // console.log('浏览器版本', navigator.appVersion);
    // console.log('用户代理',  navigator.userAgent);
    // console.log('操作系统',  navigator.platform);


    </script>
  </body>
</html>
